<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>static handler demo page</title>

    <link rel="stylesheet" type="text/css" href="/foo/bar/assets/style.css" />
    <link rel="stylesheet" type="text/css" href="/baz/qux/also/style.css" />
    <link rel="stylesheet" type="text/css" href="/combo~/bar/assets/style.css~/qux/also/style.css" />

</head>
<body>

    <h1>header goes here!</h1>

    <div id="content">
        Page Loaded OK
    </div>

    <script src="/foo/bar/one.js"></script>
    <script src="/baz/qux/another/two.js"></script>
    <script src="/combo~/bar/one.js~/qux/another/two.js"></script>

</body>
</html>
