<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>stand alone usage of `modown-yui`</title>

</head>
<body>

    <h1>header goes here!</h1>

    <div id="content">
        Page Loaded OK
    </div>

    <script>
    </script>
</body>
</html>
